*{
    margin: 0;
    padding: 0;
}
.homeMain{
    height: 100vh;
    width: 100vw;
    justify-content: left;
}
.leftList{
    height: 100%;
    width: 25%;
    background-color: #9e76bb;
}
.rightChat {
    height: 100%;
    width: 80%;
    background-color: rgb(255, 195, 195);
    border-left: 2px solid white;
}
.navbar {
    background-color: #7E5CAD;
    height: 8%;
    justify-content: space-evenly;
}
.profile{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: rgb(168, 168, 168);
}
.search-bar-home {
    background: white;
    border-radius: 10em;
    width: 60%;
    box-sizing: border-box;
    /* padding-left: 1em; */
    background-color: #E1CCFF;
}
.searchInput{
    height: 2.9em;
    border-radius: 3em;
    padding-left: 1em;
    background-color: #E1CCFF;
    color: #868686;
}
.navbarpart2 {
    height: 8%;
    background-color: #7E5CAD;
}
.SomeBtn {
    height: 5%;
    background-color: #BF9DD7;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
button.btnall {
    height: 60%;
    width: fit-content;
    background-color: #9E76BB;
    border-radius: 2em;
    padding: 0.6em 1em;
    box-sizing: border-box;
}


